#logo-text {
  font-family: "Calibri", sans-serif;
  font-size: 25px;
}

.header-items {
  display: flex;
  flex-flow: row wrap;
  justify-content: end;
  background-color: #33627b;
}

.cart-collapsed {
  display: block;
}

.cart-expanded {
  display: none;
}

@media (min-width: 992px) {
  .cart-collapsed {
    display: none;
  }

  .cart-expanded {
    display: block;
  }
}
